<div *ngIf="loading" id="overlay">
</div>

<div class="container">
    <div
        class="container d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Inventory Sheet</h1>

        <div class="btn-toolbar mb-2 mb-md-0">

            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary" (click)="onSave()">Save</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                This week
            </button>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap">
                <div>
                    <i class="fas fa-table mr-1"></i>Foil
                </div>
                <div>
                    <button class="btn btn-sm btn-primary" (click)="getData()">Reload Records</button>
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Product</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let t of productData">
                            <td>{{t.id}}</td>
                            <td>{{t.name}}</td>
                            <td>
                                <input type="text" [(ngModel)]="t.qty" [attr.id]="'ti-'+t.id"
                                    onKeypress="if((event.charCode < 40 || event.charCode > 57 ) && event.charCode != 46){return false;}"
                                    (keyup.enter)="compute(t.id, $event.target.value)"
                                    > 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div>
        <h4>Saving Results</h4>
        <small *ngFor="let t of logs">{{t}} <br></small>
    </div>
</div>
