<div *ngIf="loading" id="overlay">
</div>
<div class="container">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Add Foil Stock</h1>

        <div class="btn-toolbar mb-2 mb-md-0">

            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary" (click)="onSave()">Save</button>
                <!-- <button class="btn btn-sm btn-outline-secondary">Export</button> -->
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                
            </button>
        </div>
    </div>
    <div class="hdn">
        <input [(ngModel)]="selectedValue" [typeahead]="Data" typeaheadOptionField="name"
            (typeaheadOnSelect)="onSelect($event)" class="form-control" placeholder="Search"
            typeaheadSingleWords="true">
    </div>
    <br>
    <div class="card mb-4">
        <div class="card-header">
                    <i class="fas fa-table mr-1"></i>Products Selected
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-sm" width="100%" cellspacing="0">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let t of dataToSave; let i = index">
                            <td>{{t.id}}</td>
                            <td>{{t.name}}</td>
                            <td>
                                <input type="text" [(ngModel)]="t.qty" [attr.id]="'ti-'+t.id"
                                    onKeypress="if((event.charCode < 40 || event.charCode > 57 ) && event.charCode != 46){return false;}"
                                    (keyup.enter)="compute(t.id, $event.target.value)"
                                    > 
                            </td>
                            <td><i class="btn btn-danger" (click)="delete(i)" style="color:white">X</i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Saving Results
        </div>
        <div class="card-body">
            <small *ngFor="let t of logs">{{t}} <br></small>
        </div>
    </div>
</div>
