<div *ngIf="loading" id="overlay">
</div>
<div class="container">
    <div
        class="container d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Coffee Production</h1>

        <div class="btn-toolbar mb-2 mb-md-0">

            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary" (click)="onSave()">Save</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                This week
            </button>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap">
                    <div>
                        <i class="fas fa-table mr-1"></i>Production# GS-{{productionNumber}}
                    </div>
            </div>
        </div>
        <div class="card-body">
            <div>
                <label>Barcode:
                    <input type="text" id="barcode" onfocus="document.execCommand('selectAll',false,null)" [(ngModel)]="barcode"
                        (keyup.enter)="onSearch()">
                </label>
                
            </div>
            <div class="hdn">
                <input [(ngModel)]="selectedValue" [typeahead]="productData" typeaheadOptionField="name"
                    (typeaheadOnSelect)="onSelect($event)" class="form-control" placeholder="Search" typeaheadSingleWords="true"
                    [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="8">
            </div>
        </div>
    </div>
    <br>
    <div class="card mb-4">
        <div class="card-header">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap">
                    <div>
                        <i class="fas fa-table mr-1"></i>{{selectedProduct ? selectedProduct.name : ''}}
                    </div>
                    <button class="btn btn-success" (click)="onPrint()"><i class="fas fa-print mr-1"></i>Print</button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
            <table class="table table-bordered table-striped table-sm">
                 <thead class="thead-dark">
                        <tr>
                            <th>Item</th>
                            <th>Stocks</th>
                            <th>Unit</th>
                            <th>Quantity</th>
                            <th>Unit Used</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let t of dataItems; let i = index">
                            <td>{{t.name}}</td>
                            <td>{{t.stockqty}}</td>
                            <td>{{t.unitname}}</td>
                            <td>
                                <ng-container *ngIf="t.stockqty">
                                    <input type="number" [(ngModel)]="t.qty" [attr.id]="'ti-'+t.id"
                                        onfocus="document.execCommand('selectAll',false,null)"
                                        onKeypress="if((event.charCode < 48 || event.charCode > 57) && !event.charCode == 120){return false;}"
                                    >
                                </ng-container>
                            </td>
                            <td>
                                <ng-container *ngIf="t.stockqty">
                                    <select [attr.id]="'u-'+t.id" [(ngModel)]="t.unit">
                                        <option *ngFor="let c of t.canuse" [ngValue]="c.id">{{c.name}}</option>
                                    </select>
                                </ng-container>
                            </td>
                        </tr>
                    </tbody>
            </table>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap">
                    <div>
                        <i class="fas fa-table mr-1"></i>Total Production
                    </div>
            </div>
        </div>
            <br>
        <!--Total production-->
        <div class="card-body">
            <div class="table-responsive">
                <table id="totalProduction" class="table table-bordered table-sm table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Materials</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let t of materialsData">
                            <td>{{t.name}}</td>
                            <td>
                                <input type="number" [(ngModel)]="t.qty"
                                    onKeypress="if((event.charCode < 48 || event.charCode > 57) && !event.charcode==120){return false;}">
                            </td>
                            <td>
                                <select [(ngModel)]="t.unit">
                                    <option *ngFor="let c of unitData" [ngValue]="c.id">{{c.name}}</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> 
    </div>
    <div>
        <h4>Saving Results</h4>
        <small *ngFor="let t of logs">{{t}} <br></small>
    </div>
</div>